# Facebook
FB_TOKEN_FAIRCAR=ใส่ Page Access Token ของ Faircar
FB_TOKEN_ASAP=ใส่ Page Access Token ของ Asap
FB_APP_SECRET=ใส่ App Secret จาก Meta Developer App
FB_VERIFY_TOKEN=maew_inbox_2024
FB_PAGE_ID_FAIRCAR=100735478552467
FB_PAGE_ID_ASAP=117865866278291

# LINE
LINE_SECRET_ASAP=0f3aa3e22154b9b5c486b8109a3f1d74
LINE_TOKEN_ASAP=ใส่ Channel Access Token ของ LINE Asap
LINE_SECRET_FAIRCAR=397df18a88f47db51be28fbaeace7532
LINE_TOKEN_FAIRCAR=ใส่ Channel Access Token ของ LINE Faircar
